
.modal
{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 8, 18, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 48px;
  z-index: 99999;
  box-sizing: border-box;
  animation: .2s ease-in-out backdropshow forwards;
}
.modal_close
{
  animation: .1s ease-in-out backdrophide forwards;
}
.modal__window
{
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(13, 35, 67, 0.06), 0 15px 25px -4px rgba(13, 35, 67, 0.4);
  animation: .2s ease-in-out windowshow forwards;
  z-index: 1;
}

.modal_old-animation .modal__window
{
  animation: .2s ease-in-out windowshow-old forwards;
}

.modal_close .modal__window
{
  animation: .1s ease-in-out windowhide forwards;
}

.modal_old-animation.modal_close .modal__window
{
  animation: .2s ease-in-out windowhide-old forwards;
}

.modal__base
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 0;
}

.modal_hover-close .modal__close
{
  opacity: .8
}

.modal__wrapper
{
  box-sizing: border-box;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  max-width: 100%;
  position: relative;
}



.modal__close
{
  width: 24px;
  height: 24px;
  position: fixed;
  top: 12px;
  opacity: .4;
  cursor: pointer;
  transition: opacity .1s;
  background-image: url('./svg/close.svg');
}

.modal_layout_scroll
{
  overflow-y: scroll;
  align-items: start;
}


.modal_layout_scroll .modal__base
{
  right: 16px;
}
.modal_layout_fill-vertical .modal__window
{
  flex-grow: 1;
}

/* .modal_layout_fill
{
  padding-left: 16px;
} */
.modal_layout_fill .modal__wrapper
{
  flex-grow: 1;
}

.modal_layout_fill .modal__window
{
  flex-grow: 1;
}






@keyframes windowshow {
  from
  {
    transform: scale(.95);
  }
  to
  {
    transform: scale(1);
  }
}

@keyframes windowhide {
  from
  {
    transform: scale(1);
  }
  to
  {
    transform: scale(1.05);
  }
}

@keyframes windowshow-old {
  from
  {
    transform: scale(.75);
  }
  to
  {
    transform: scale(1);
  }
}

@keyframes windowhide-old {
  from
  {
    transform: scale(1);
  }
  to
  {
    transform: scale(1.5);
  }
}

@keyframes backdropshow {
  from
  {
    opacity: 0
  }
  to
  {
    opacity: 1
  }
}
@keyframes backdrophide {
  from
  {
    opacity: 1
  }
  to
  {
    opacity: 0
  }
}
