.modaltouch, .modaltouch div
{
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}


.modaltouch
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(1, 8, 18, 0.7);
  padding: 0 16px;
  overflow-y: auto;
	-webkit-overflow-scrolling:touch;
  z-index: 99999;
  animation: .2s ease-in-out backdropshow forwards;

}
.modaltouch_close
{
  animation: .2s ease-in-out backdrophide forwards;
}
.modaltouch__wrapper
{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  height: auto;
  min-height: 100%;
  padding: 54px 0 16px;
}
.modaltouch__base
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

}
.modaltouch__window
{
  position: relative;
  animation: .2s ease-in-out windowshow forwards;
}
.modaltouch_close .modaltouch__window
{
  animation: .2s ease-in-out windowhide forwards;
}
.modal__content
{
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.modaltouch__close
{
  position: absolute;
  right: 0;
  top: -34px;
  width: 24px;
  height: 24px;
  background-image: url("./svg/close.svg");
  opacity: .4;
}

.modaltouch_position_center .modaltouch__wrapper
{
    justify-content: center;
}

.modaltouch_position_bottom .modaltouch__wrapper
{
  justify-content: flex-end;
}


@keyframes windowshow {
  from
  {
    transform: translateY(36px) scale(.99);
  }
  to
  {
    transform: translateY(0) scale(1);
  }
}

@keyframes windowhide {
  from
  {
    transform: translateY(0) scale(1);
  }
  to
  {
    transform: translateY(36px) scale(.99);
  }
}

@keyframes backdropshow {
  from
  {
    opacity: 0
  }
  to
  {
    opacity: 1
  }
}
@keyframes backdrophide {
  from
  {
    opacity: 1
  }
  to
  {
    opacity: 0
  }
}
